:root {
  --drum-machine-bg: black;
  --drum-pads-color: grey;
  --drum-pads-powered: azure;
  --drum-pads-played: yellow;
  --button-color: grey;
  --button-outline: green;
  --outline-inactive: #dfdfdf;
}

body,
html {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

* {
  outline: 1px solid red;
}

#drum-machine {
  display: flex;
  width: 100%;
  min-width: 500px;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--drum-machine-bg);
}

#drum-machine #pads-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  padding: 10px;
  user-select: none;
}

#drum-machine #pads-container .drum-pad {
  display: flex;
  background-color: var(--drum-pads-color);
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  color: var(--drum-pads-powered);
  border-radius: 5px;
  outline: 5px solid var(--outline-inactive);
  transition: transform 0.1s ease, outline 0.1s, box-shadow 0.1s ease-out, color 0.1 ease-out;
}

#drum-machine #pads-container .drum-pad[data-powered="true"] {
  outline: 5px solid var(--drum-pads-powered);
  box-shadow: 0 0 5px 5px var(--drum-pads-powered);
}

#drum-machine #pads-container .drum-pad[data-powered="true"]:hover {
  transform: scale(1.03);
  color: var(--drum-pads-played);
  outline: 5px solid var(--drum-pads-played);
}

#drum-machine #pads-container .drum-pad[data-played="true"] {
  transform: scale(1.03);
  outline: 5px solid var(--drum-pads-played);
  box-shadow: 0 0 15px 10px var(--drum-pads-played);
}

#drum-machine #controls-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#drum-machine #controls-container #toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-content: space-around;
}

#drum-machine #controls-container #toggle-container button {
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
}

#drum-machine #controls-container #display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#drum-machine #controls-container #display p {
  display: block;
  width: 80%;
  text-align: center;
  background-color: darkgrey;
  padding: 20px 10px;
}

#drum-machine #controls-container #slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex: .5;
}

#drum-machine #controls-container #slider-container #volume-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 90%;
  cursor: pointer;
}

#drum-machine #controls-container #slider-container #volume-slider::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  height: 5px;
  background-color: aqua;
}

#drum-machine #controls-container #slider-container #volume-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 25px;
  width: 15px;
  transform: translateY(-10px);
  background-color: aqua;
}
