:root {
  --background-color: #ffedc6;
  --background-color2: #e2be70;
}

body,
html {
  padding: 0;
  margin: auto;
  box-sizing: border-box;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
  background-color: var(--background-color);
}

* {
  outline: 1px solid red;
}

#drum-machine {
  display: flex;
  background-color: var(--background-color2);
  width: 100%;
  min-width: 300px;
  max-width: 500px;
  padding: 10px;
  border-radius: 5px;
}

#drum-machine #pads-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

#drum-machine #pads-container .pads {
  display: flex;
  background-color: var(--background-color);
  width: 70px;
  height: 70px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

#drum-machine #controls-container {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

#drum-machine #controls-container #toggle-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  justify-content: space-around;
}

#drum-machine #controls-container #toggle-container button {
  width: 40%;
  border-radius: 5px;
  padding: 10px;
  font-weight: 700;
  font-size: 15px;
}

#drum-machine #controls-container #display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

#drum-machine #controls-container #display p {
  display: block;
  width: 80%;
  text-align: center;
  background-color: darkgrey;
  padding: 20px 10px;
}

#drum-machine #controls-container #slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  flex: .5;
}

#drum-machine #controls-container #slider-container #volume-slider {
  appearance: none;
  -webkit-appearance: none;
  width: 90%;
  cursor: pointer;
}

#drum-machine #controls-container #slider-container #volume-slider::-webkit-slider-runnable-track {
  appearance: none;
  -webkit-appearance: none;
  height: 5px;
  background-color: aqua;
}

#drum-machine #controls-container #slider-container #volume-slider::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  height: 25px;
  width: 15px;
  transform: translateY(-10px);
  background-color: aqua;
}
